:root {
    --white: #ffffff;
    --black: #000000;
    --custom-white-colour: #f9f8f7;
    --custom-light-gray-colour: #eaedf2;
    --custom-dark-gray-colour: #525252;
    --custom-light-green-colour: #1ed760;
    --header-border-bottom-colour: #f4f4f4;
    --button-primary-background-colour: #16a448;
    --horizontal-rule-colour: #ea4020;
    --nav-sidebar-background-colour: #202125;
    --input-border-colour: #191b1333;
    --valid-input-border-colour: #2ecc71;
    --invalid-input-border-colour: #e74c3c;
    --box-shadow-1: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
    --box-shadow-2: rgba(0, 0, 0, 0.06) 0 2px 8px 0, rgba(0, 0, 0, 0.04) 0 2px 8px 0;
    --box-shadow-3: rgba(0, 0, 0, 0.08) 0 6px 16px 0, rgba(0, 0, 0, 0.04) 0 0 6px 0;
}

* {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

.about,
.contact,
.footer,
.home,
.projects,
.skills {
    position: relative;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-align: center;
    color: inherit;
    text-decoration: none;
}

button {
    width: 150px;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 30px;
    box-shadow: var(--box-shadow-1);
    transition: 0.3s;
    padding: 14px 0;
    cursor: pointer;
}

.button-primary {
    background-color: var(--button-primary-background-colour);
    border: 1px solid var(--button-primary-background-colour);
}

button .fa-sharp {
    color: inherit;
}

button:hover {
    background-color: var(--white);
    color: black !important;
    border-color: var(--black);
}

.home button:active,
.projects button:active {
    padding: 2px 0;
}

.about button:active,
.contact button:active {
    margin-left: 40px;
}

.section-title {
    color: var(--black);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 14px;
}

hr {
    height: 2px;
    width: 70px;
    background-color: var(--horizontal-rule-colour);
    border: none;
    margin-bottom: 30px;
}

nav .fa-sharp {
    display: none;
    color: var(--white);
}

.home br {
    display: none;
}

.home .section-container img,
.about .section-container img {
    animation: move 2.5s linear infinite;
}

/* Keyframes for image movement */
@keyframes move {
    0% {
        transform: translate(-15px, 0px);
    }

    50% {
        transform: translate(0px, -15px);
    }

    100% {
        transform: translate(-15px, 0px);
    }
}
