@media (max-width: 1250px) {
    /* Home */
    .home br {
        display: block;
    }
}

@media (max-width: 1050px) {
    /* General */
    .about .section-container,
    .skills .section-container,
    .contact .section-container {
        padding: 100px 0;
    }

    .section-title {
        font-size: 36px !important;
    }

    /* Home */
    .home br {
        display: none;
    }

    .home img {
        display: none;
    }

    .home .section-container {
        text-align: center;
    }

    .name-heading,
    .role-heading {
        font-size: 36px !important;
        padding-bottom: 10px;
    }

    .contact-me-button,
    .resume-button {
        width: 160px !important;
        margin: 0 !important;
    }

    /* .contact-me-button {
        margin-right: 18px !important;
    } */

    /* About */
    .about .section-container img {
        display: none;
    }

    .about .section-container p {
        width: 92%;
    }

    /* Skills */
    .skills-icons-container div {
        width: 255px !important;
    }

    /* Projects */
    .project-container {
        flex-direction: column;
    }

    .projects .section-container {
        padding-top: 70px;
        padding-bottom: 20px;
    }

    .project-title {
        font-size: 24px;
    }

    .project-details-container {
        margin: 46px 0 20px 0;
    }

    .project-details-container p {
        font-size: 16px;
    }

    /* Footer */
    .footer .section-container {
        flex-direction: column;
        text-align: center;
        padding: 4% 6%;
    }

    .footer .name-heading {
        font-size: 26px !important;
    }

    .footer .role-heading {
        font-size: 17px !important;
        padding-bottom: 18px;
    }

    .copyright-notice-container {
        justify-content: center;
    }
}

@media (max-width: 930px) {
    /* Skills */
    .skills-icons-container {
        grid-template-columns: 250px 250px !important;
    }

    /* Contact */
    .form-field {
        margin-bottom: 50px;
    }

    .name-field-error-message,
    .email-field-error-message {
        top: 78px;
    }
}

@media (max-width: 750px) {
    /* Header */
    .nav-menu {
        position: absolute;
        height: 100vh;
        width: 200px;
        background-color: var(--nav-sidebar-background-colour);
        font-size: 40px;
        top: 0;
        right: -200px;
        transition: 0.6s;
    }

    .nav-menu ul {

        padding: 30px;
    }

    nav .fa-sharp {
        display: block;
        text-align: right;
        font-size: 24px;
        margin: 18px 20px;
        cursor: pointer;
    }

    header.scrolled .nav-menu ul li {
        color: var(--white) !important;
    }

    header.scrolled #openNavMenuIcon {
        color: var(--black);
    }
}

@media (max-width: 675px) {
    /* Skills */
    .skills-icons-container {
        display: flex !important;
        flex-direction: column;
    }

    .skills-icons-container div {
        width: 255px !important;
    }

    /* Footer */
    .form-submit-button {
        margin-top: 24px;
    }
}

@media (max-width: 650px) {
    /* Contact */
    .name-email-row {
        margin-bottom: 15px;
    }
}

@media (max-width: 600px) {
    /* Home */
    .home br {
        display: block;
    }
}

@media (max-width: 550px) {
    /* Projects */
    .project-img {
        width: 70% !important;
    }
}

@media (max-width: 500px) {
    /* General */
    .section-title {
        font-size: 34px !important;
    }

    /* Home */
    .name-tag {
        display: none;
    }

    .name-heading,
    .role-heading {
        font-size: 34px !important;
    }

    .contact-me-button,
    .resume-button {
        width: 140px !important;
    }

    /* .contact-me-button {
        margin-right: 12px !important;
    } */

    /* Projects */
    .project-details-container p {
        width: 80%;
    }

    /* Contact */
    .form-field {
        margin-bottom: 65px;
    }

    .subject-field-error-message {
        top: 78px;
    }

    .message-field-error-message {
        width: 65%;
    }

    .form-submit-button {
        margin-top: 8px;
    }

    /* Footer */
    .footer .section-container {
        padding: 10% 6%;
    }
}

@media (max-width: 450px) {
    /* Projects */
    .project-title {
        max-width: 70%;
        text-align: center;
    }
}

@media (max-width: 400px) {
    /* General */
    .about .section-container,
    .skills .section-container,
    .contact .section-container {
        padding: 70px 0;
    }

    .section-title {
        font-size: 29px !important;
    }

    /* Header */
    .nav-menu-logo {
        font-size: 26px !important;
    }

    #openNavMenuIcon {
        font-size: 23px;
    }

    .nav-menu {
        width: 170px;
        right: -170px;
    }

    /* Home */
    .name-heading {
        font-size: 30px !important;
    }

    .role-heading {
        font-size: 28px !important;
        margin-bottom: 30px;
    }

    .home .section-container p {
        margin-bottom: 70px;
    }

    /* Projects */
    .projects .section-container {
        padding-top: 70px;
    }

    .project-details-container p {
        font-size: 15px;
        width: 70%;
    }

    .project-title {
        font-size: 22px;
    }

    .form-submit-button {
        margin-top: 24px;
    }

    /* Footer */
    .footer .name-heading {
        font-size: 24px !important;
    }

    .footer .role-heading {
        font-size: 15px !important;
        padding-bottom: 16px;
    }

    .copyright-notice {
        max-width: 180px;
    }
}
