.about {
    position: relative;
    background-color: #f9f8f7;
    width: 100%;
}

.about .section-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
    margin: auto;
}

.about .section-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .section-container p {
    max-width: 600px;
    color: rgb(82, 82, 82);
    margin-bottom: 50px;
}
