.about
{
    width: 100%;
    position: relative;
}

.about .container
{
    height: 700px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.about .container div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 55px;
}

.about .container p
{
    max-width: 600px;
    color: rgb(82, 82, 82);
    margin-bottom: 50px;
}

.linkedin-button
{
    width: 170px;
    background-color: rgb(22, 164, 72);
    color: white;
    border: 1px solid rgb(22, 164, 72);
}