.contact
{
    width: 100%;
    background-color: rgb(234, 237, 242);
}

.contact .section-container
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    margin: auto;
}

.contact-grid
{
    display: grid;
    grid-template-columns: 240px 750px;
    gap: 20px;
}

.contact-info-container
{
    background-color: black;
    border-radius: 10px;
}

.contact-form-container
{
    background-color: white;
    border-radius: 10px;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}

.form-field
{
    position: relative;
    margin-bottom: 40px;
}

.form-field label
{
    font-size: 15px;
    color: rgb(82, 82, 82);
    display: block;
    padding-bottom: 5px;
}

input, textarea
{
    width: 100%;
    font-size: 15px;
    border: 1px solid rgba(25, 27, 19, 0.2);
    border-radius: 8px;
    outline: none;
    resize: none;
    padding: 10px;
}

.name-email-row
{
    display: flex;
    justify-content: space-between;
}

.name-email-row .form-field
{
    flex-basis: 48%;
}

.form-field small
{
	color: #e74c3c;
	bottom: -25px;
    left: 0;
	visibility: hidden;
	position: absolute;
}

.form-field.error small
{
	visibility: visible;
}

.form-field.error input,
.error textarea
{
    border-color: #e74c3c;
}

.form-field.success input,
.success textarea
{
	border-color: #2ecc71;
}

.message-field-error-message
{
    top: 216px;
}

.message-field-char-counter
{
    font-size: 15px;
    color: rgb(82, 82, 82);
    position: absolute;
    bottom: -20px;
    right: 0;
}

.form-submit-btn
{
    background-color: rgb(22, 164, 72);
    border: 1px solid rgb(22, 164, 72);
}

.form-submit-message
{
    font-size: 15px;
    color: rgb(82, 82, 82);
    margin-bottom: 16px;
}