.contact
{
    width: 100%;
    background-color: rgb(234, 237, 242);
}

.contact .section-container
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    margin: auto;
}

.contact-grid
{
    display: grid;
    grid-template-columns: 270px 700px;
    gap: 20px;
}

.contact-info-container
{
    background-color: black;
    border-radius: 10px;

}

.contact-form-container
{
    background-color: white;
    border-radius: 10px;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}

.input-group
{
    position: relative;
    margin-bottom: 34px;
}

input, textarea
{
    width: 100%;
    font-size: 15px;
    border: 1px solid rgba(25, 27, 19, 0.2);
    border-radius: 8px;
    outline: none;
    resize: none;
    padding: 10px;
}

.input-group label
{
    height: 100%;
    font-size: 15px;
    color: rgb(82, 82, 82);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 14px;
    transition: 0.2s;
    cursor: text;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label
{
    font-size: 12px;
    top: -35px;
}

.name-email-row
{
    display: flex;
    justify-content: space-between;
}

.name-email-row .input-group
{
    flex-basis: 48%;
}

.form-submit-button
{
    background-color: rgb(22, 164, 72);
    border: 1px solid rgb(22, 164, 72);
}

.form-textarea-char-counter
{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.active .form-textarea-char-counter
{
    display: flex;
    justify-content: flex-end;
}

.error textarea
{
    border-color: #ea4020;
}

.form-submit-message
{
    margin-bottom: 16px;
}

.form-textarea-char-counter
{
    color: rgb(82, 82, 82);
}