.contact {
    width: 100%;
    background-color: rgb(234, 237, 242);
}

.contact .section-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    margin: auto;
}

.contact-form-container {
    background-color: white;
    max-width: 750px;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px 0px, rgba(0, 0, 0, 0.04) 0px 2px 8px 0px;
    padding: 50px;
}

.form-field {
    position: relative;
    margin-bottom: 40px;
}

.form-field label {
    display: block;
    font-size: 15px;
    color: rgb(82, 82, 82);
    padding-bottom: 5px;
}

input,
textarea {
    width: 100%;
    font-size: 15px;
    border: 1px solid rgba(25, 27, 19, 0.2);
    border-radius: 8px;
    outline: none;
    resize: none;
    padding: 10px;
}

.name-email-row {
    display: flex;
    justify-content: space-between;
}

.name-email-row .form-field {
    flex-basis: 48%;
}

.form-field small {
    position: absolute;
    color: #e74c3c;
    left: 0;
    bottom: -25px;
    visibility: hidden;
}

.form-field.error small {
    visibility: visible;
}

.form-field.error input,
.error textarea {
    border-color: #e74c3c;
}

.form-field.success input,
.success textarea {
    border-color: #2ecc71;
}

.message-field-error-message {
    top: 216px !important;
}

.message-field-char-counter {
    position: absolute;
    color: rgb(82, 82, 82);
    font-size: 15px;
    right: 0;
    bottom: -20px;
    margin-left: 10px;
}

.form-submit-message {
    font-size: 15px;
    color: rgb(82, 82, 82);
    margin-bottom: 16px;
}
