.footer
{
    width: 100%;
    color: white;
    position: relative;
}

.footer .section-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 26px 6%;
}

.footer .name-heading
{
    font-size: 23px;
    padding-bottom: 6px;
}

.footer .role-heading
{
    font-size: 14px;
    margin: 0;
}

.copyright-notice
{
    font-size: 14px;
}