footer {
    color: var(--white);
}

footer .section-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    padding: 26px 6%;
}

footer .name-heading {
    font-size: 23px;
    padding-bottom: 6px;
}

footer .role-heading {
    font-size: 14px;
    margin: 0;
}

.copyright-notice-container {
    display: flex;
    align-items: flex-end;
}

.copyright-notice {
    font-size: 14px;
}