*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html, body
{
    height: 100%; 
    width: 100%;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

ul
{
    list-style: none;
}

img
{
    height: auto;
    max-width: 100%;
}

a
{
    color: inherit;
    text-decoration: none;
}

button
{
    font-size: 12px;
    font-weight: 500;
    color: white;
    padding: 14px 0;
    letter-spacing: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
    transition: 0.3s;
    cursor: pointer;
}

button .fa-sharp
{
    color: inherit;
}

button:hover
{
    background-color: white;
    color: black !important;
    border-color: black;
}

.home button:active,
.projects button:active
{
    padding: 2px 0;
}

.about button:active,
.contact button:active
{
    margin-left: 40px;
}

.section-title
{
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-bottom: 14px;
}

hr
{
    height: 2px;
    width: 70px;
    background: #ea4020;
    border: none;
    margin-bottom: 30px;
}

nav .fa-sharp
{
    color: white;
    display: none;
}

/* Media Queries */
@media(max-width: 800px)
{
    /* Global */
    .about .container,
    .skills .container,
    .projects .container
    {
        padding: 100px 0 !important;
    }

    h1
    {
        font-size: 36px;
    }

    /* Header */
    .nav-menu
    {
        height: 100vh;
        width: 180px;
        font-size: 30px;
        position: absolute;
        background: rgb(76, 76, 76);
        top: 0;
        right: -200px;
        text-align: left !important;
        transition: 0.8s;
    }

    .nav-menu ul
    {
        padding: 30px;
        text-align: center;
    }

    .nav-menu ul li
    {
        display: block;
    }

    nav .fa-sharp
    {
        font-size: 24px;
        display: block;
        margin: 10px 0 10px 14px;
        cursor: pointer;
    }

    /* Home */
    .home img,
    .name-tag
    {
        display: none;
    }

    .home .container
    {
        text-align: center;
    }

    .name-heading,
    .role-heading
    {
        font-size: 34px !important;
        padding-bottom: 10px;
    }

    .contact-me-button,
    .resume-button
    {
        width: 140px !important;
        margin: 0 !important;
    }

    .contact-me-button
    {
        margin-right: 12px !important;
    }

    /* About */
    .about .container img
    {
        display: none;
    }

    .about .container p
    {
        width: 90%;
    }

    /* Skills */
    .skills .skill-icon-container
    {
        display: flex !important;
        flex-direction: column;
    }

    .skills .skill-icon-container div
    {
        width: 234px !important;
    }

    /* Projects */
    .project-container
    {
        flex-direction: column;
    }

    .project-container img
    {
        width: 68% !important;
        border-radius: 20px;
    }

    .project-container img:hover
    {
        margin: 0 !important;
    }

    .project-descr-container
    {
        margin: 46px 0 20px 0;
    }

    .project-descr-container p
    {
        width: 80%;
    }
}