.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(25, 25, 25, 0.1);
    transition: 0.3s ease-in-out;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 6%;
}

.nav-logo {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.nav-logo span {
    color: rgb(30, 215, 96);
}

.nav-menu ul li {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 16px;
    letter-spacing: 1.5px;
    padding: 8px 12px;
}

.nav-menu ul li::after {
    display: block;
    background: rgb(22, 164, 72);
    height: 2px;
    width: 0;
    content: '';
    margin: auto;
    transition: 0.5s;
}

.nav-menu ul li:hover::after {
    width: 100%;
}

header.scrolled {
    background-color: white;
    opacity: 0.98;
}

header.scrolled .nav-logo,
header.scrolled .nav-menu ul li {
    color: black;
}
