.header
{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.3s ease-in-out;
}

nav
{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
}

.nav-logo
{
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.nav-logo span
{
    color: rgb(30, 215, 96);
}

.nav-menu ul li
{
    color: white;
    font-size: 16px;
    letter-spacing: 1.5px;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}

.nav-menu ul li::after
{
    height: 2px;
    width: 0;
    background: rgb(22, 164, 72);
    display: block;
    content: "";
    margin: auto;
    transition: 0.5s;
}

.nav-menu ul li:hover::after
{
    width: 100%;
}

header.scrolled
{
    background-color: white;
    opacity: 0.98;
}

header.scrolled .nav-logo,
header.scrolled .nav-menu ul li
{
    color: black;
}