.home
{
    width: 100%;
    background-color: black;
    position: relative;
}

.home .section-container
{
    height: 100vh;
    width: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.name-tag,
.role-heading
{
    font-weight: 400;
}

.name-tag
{
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.name-heading
{
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: -10px;
}

.name-heading span
{
    color: rgb(30, 215, 96);
}

.role-heading
{
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.home .section-container p
{
    max-width: 600px;
    font-size: 14px;
    word-spacing: 2px;
    margin-bottom: 50px;
}

.contact-me-button,
.resume-button
{
    width: 170px;
}

.contact-me-button
{
    background-color: rgb(22, 164, 72);
    border: 1px solid rgb(22, 164, 72);
    margin-right: 20px;
}

.resume-button
{
    background-color: black;
    border: 1px solid white;
}