.home {
    width: 100%;
    background-color: var(--black);
    position: relative;
}

.home .section-container {
    height: 100vh;
    width: 80%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.name-tag,
.role-heading {
    font-weight: 400;
}

.name-tag {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.name-heading {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: -10px;
}

.name-heading span {
    color: var(--custom-light-green-colour);
}

.role-heading {
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.home .section-container p {
    max-width: 600px;
    font-size: 15.5px;
    word-spacing: 2px;
    margin-bottom: 50px;
}

/* .contact-me-button {
    margin-right: 20px;
} */

.resume-button {
    background-color: var(--black);
    border: 1px solid white;
}
