.projects {
    background-color: var(--custom-white-colour);
}

.projects .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 105px 0 !important;
    margin: auto;
}

.project-container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.project-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 14px;
}

.project-img,
.project-details-container {
    width: 500px;
}

.project-img {
    height: 270px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-2);
    object-fit: cover;
    cursor: pointer;
}

.project-img:hover {
    box-shadow: var(--box-shadow-3);
}

.project-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.project-details-container p {
    font-size: 15px;
    color: var(--custom-dark-gray-colour);
    margin-bottom: 14px;
    margin-left: 30px;
}
.project-tools-container img {
    height: 34px;
}

.project-tools-container {
    display: flex;
    align-items: center;
    font-size: 34px;
    margin-bottom: 14px;
}

.projects button {
    width: 135px;
}

.github-button {
    background-color: var(--black);
    border: 1px solid black;
    margin-left: 20px;
}

.project-details-container hr {
    width: 50px;
    margin-bottom: 14px;
}
