@media(max-width: 1250px)
{
    /* Home */
    .home br
    {
        display: block;
    }
}

@media(max-width: 1050px)
{
    /* Global */
    .about .section-container,
    .skills .section-container,
    .contact .section-container
    {
        padding: 100px 0;
    }

    .section-title
    {
        font-size: 36px !important;
    }

    /* Home */
    .home br
    {
        display: none;
    }

    .home img
    {
        display: none;
    }

    .home .section-container
    {
        text-align: center;
    }

    .name-heading,
    .role-heading
    {
        font-size: 36px !important;
        padding-bottom: 10px;
    }

    .contact-me-button,
    .resume-button
    {
        width: 160px !important;
        margin: 0 !important;
    }

    .contact-me-button
    {
        margin-right: 18px !important;
    }

    /* About */
    .about .section-container img
    {
        display: none;
    }

    .about .section-container p
    {
        width: 90%;
    }

    /* Skills */
    .skill-icon-container div
    {
        width: 255px !important;
    }

    /* Projects */
    .project-container
    {
        flex-direction: column;
    }

    .projects .section-container
    {
        padding-top: 70px;
        padding-bottom: 20px;
    }
  
    .project-container img:hover
    {
        margin: 0 !important;
    }

    .project-title
    {
        font-size: 24px;
    }

    .project-descr-container
    {
        margin: 46px 0 20px 0;
    }

    .project-descr-container p
    {
        font-size: 16px;
    }

    /* Contact */
    .contact-grid
    {
        display: flex;
        gap: 0;
    }

    .contact-form-container
    {
        width: 750px;
        padding: 60px;
    }

    /* Footer */
    .footer .section-container
    {
        flex-direction: column;
        text-align: center;
        padding: 4% 6%;
    }

    .footer .name-heading
    {
        font-size: 26px !important;
    }

    .footer .role-heading
    {
        font-size: 17px !important;
        padding-bottom: 18px;
    }

    .copyright-notice
    {
        max-width: 71%;
    }
}

@media(max-width: 930px)
{
    /* Skills */
    .skill-icon-container
    {
        grid-template-columns: 250px 250px;
    }

    /* Contact */
    .contact-form-container
    {
        width: 650px;
    }
}

@media(max-width: 800px)
{
    /* Contact */
    .contact-form-container
    {
        width: 550px;
    }

    .name-email-row
    {
        display: block;
    }
}

@media(max-width: 750px)
{
    /* Header */
    .nav-menu
    {
        height: 100vh;
        width: 200px;
        font-size: 40px;
        background-color: rgba(32,33,37,255);
        position: absolute;
        top: 0;
        right: -200px;
        transition: 0.6s;
    }

    .nav-menu ul
    {
        padding: 30px;
    }

    nav .fa-sharp
    {
        font-size: 24px;
        display: block;
        text-align: right;
        margin: 18px 20px;
        cursor: pointer;
    }

    header.scrolled .nav-menu ul li
    {
        color: white;
    }

    header.scrolled #show-menu-icon
    {
        color: black;
    }
}


@media(max-width: 675px)
{
    /* Contact */
    .contact-form-container
    {
        width: 450px;
    }
}

@media(max-width: 675px)
{
    /* Skills */
    .skill-icon-container
    {
        display: flex !important;
        flex-direction: column;
    }

    .skill-icon-container div
    {
        width: 255px !important;
    }
}

@media(max-width: 600px)
{
    /* Home */
    .home br
    {
        display: block;
    }
}

@media(max-width: 500px)
{
    /* Global */
    .about .section-container,
    .skills .section-container,
    .contact .section-container
    {
        padding: 70px 0;
    }

    .section-title
    {
        font-size: 34px !important;
    }

    /* Home */
    .name-tag
    {
        display: none;
    }

    .name-heading,
    .role-heading
    {
        font-size: 34px !important;
    }

    .contact-me-button,
    .resume-button
    {
        width: 140px !important;
    }

    .contact-me-button
    {
        margin-right: 12px !important;
    }

    /* Projects */
    .project-container img
    {
        width: 72% !important;
        border-radius: 10px;
    }
    
    
    .project-descr-container p
    {
        width: 80%;
    }

    /* Contact */
    .contact-form-container
    {
        width: 350px;
        padding: 35px;
    }

    /* Footer */
    .footer .section-container
    {
        padding: 10% 6%;
    }
}

@media(max-width: 400px)
{
    /* Global */
    .about .section-container,
    .skills .section-container,
    .contact .section-container
    {
        padding: 70px 0;
    }

    .section-title
    {
        font-size: 29px !important;
    }
     
    /* Header */
    .nav-logo
    {
        font-size: 26px !important;
    }

    #show-menu-icon
    {
        font-size: 23px;
    }

    .nav-menu
    {
        width: 170px;
        right: -170px;
    }

    /* Home */
    .name-heading
    {
        font-size: 30px !important;
    }

    .role-heading
    {
        font-size: 28px !important;
        margin-bottom: 30px;
    }

    .home .section-container p
    {
        margin-bottom: 70px;
    }

    /* Projects */
    .projects .section-container
    {
        padding-top: 70px;
    }

    .project-container img
    {
        width: 64% !important;
    }

    .project-descr-container p
    {
        font-size: 15px;
        width: 70%;
    }

    .project-title
    {
        font-size: 22px;
    }

    /* Contact */
    .contact-form-container
    {
        width: 320px;
        padding: 32px;
    }

    /* Footer */
    .footer .name-heading
    {
        font-size: 24px !important;
    }

    .footer .role-heading
    {
        font-size: 15px !important;
        padding-bottom: 16px;
    }

    .copyright-notice
    {
        max-width: 75%;
    }   
}