.skills
{
    width: 100%;
    background-color: rgb(234, 237, 242);
    position: relative;
}

.skills .section-container
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    margin: auto;
}

.skills .skill-icon-container
{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 30px;
}

.skills .skill-icon-container div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: rgb(82, 82, 82);
    padding: 40px 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
    transition: 0.3s;
}

.skills .skill-icon-container div:hover
{
    opacity: 0.7;
    margin: -10px 0 10px 0;
}

.skills .skill-icon-container div p
{
    font-size: 16px;
}

.skills .skill-icon-container div hr
{
    width: 34px;
    margin: 18px 0 12px 0;
}